@font-face {
    font-family: 'LeagueGothic';
    src: url('fonts/league_gothic/league_gothic-webfont.eot');
    src: url('fonts/league_gothic/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/league_gothic/league_gothic-webfont.woff') format('woff'),
         url('fonts/league_gothic/league_gothic-webfont.ttf') format('truetype'),
         url('fonts/league_gothic/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar {
	border-radius: 0px;
	height: 55px;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.trans {
	opacity: .4;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

body {
	background-color: #5A8F8F;
	font-family: 'arial';
	padding-top: 70px;
}

.dropdown {
	margin: 0px
}

.container {
	background-color: white;
	padding: 25px;
	border-radius: 10px;
}

.row > h3, p {
	padding-left: 20px;
	padding-right: 20px;
}

.row > p {
	font-family: serif;
}

.input-group {
	padding-top: 5px;
}

.input-group:hover{
	cursor: pointer;
}

.jumbotron {
	background-image: url(../img/banner.jpg);
	background-size: cover;
	font-family: 'LeagueGothic', 'arial';
	height: 250px;
}

.col-md-4 {
	text-align: center;
}

.col-md-4 > a > img {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	padding: 2px;
}

.col-md-4 > a > img:hover {
	height: 202px;
	width: 202px; 
	cursor: pointer;
	transition: width, height .15s linear;
   -moz-transition: width, height .15s linear;
   -webkit-transition: width, height .15s linear;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
 color: white;
 margin-top: -30px;
 margin-left: -10px;
}

.fade-in.one {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
}

.fade-in.two {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6s;
}

footer {
	clear: both;
    color: #fff;
    padding: 10px 50px;
    background-color: #5A8F8F;
    font-size: 10px;
    margin-left: 45px;
}